<!DOCTYPE HTML>
<html>
<head>
    <title>Quiz in Computer Science</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>

    <noscript>
        <link rel="stylesheet" href="/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <!-- Logo -->
            <a href="/" class="logo">
                <span class="symbol"><img src="/images/logo.svg" alt=""/></span><span class="title">Quiz</span>
            </a>
        </div>
    </header>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <div class="inner">
                <header>
                    <h1>Test your knowledge, challenge your mind, and explore the fascinating world of Computer Science!</h1>
                    <h3>Are you ready to start your journey? Choose a category and begin your quiz adventure now!</h3>
                </header>
            </div>
            <section class="tiles">
                {{range .Categories}}
                <article class="style2">
                            <span class="image">
                                <img src="/images/pic01.jpg" alt=""/>
                            </span>
                    <a href="/questions?category_id={{.ID}}">
                        <h2>{{.Name}}</h2>
                        <div class="content">
                            <button class="default">Start</button>
                        </div>
                    </a>
                </article>
                {{end}}
            </section>
        </div>
    </div>

</div>
<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>


</body>
</html>