<!DOCTYPE HTML>
<html>
<head>
    <title>Quiz - {{.Title}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/fontawesome-all.min.css"/>
    <link rel="stylesheet" href="/css/main.css?version=2"/>
    <link rel="stylesheet" href="/css/app.css"/>
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">
<div id="wrapper">
    <header id="header">
        <div class="inner">
            <a href="/" class="logo">
                <span class="symbol"><img src="/images/logo.svg" alt=""/></span><span
                    class="title">Quiz</span>
            </a>

        </div>
    </header>
    <div id="main">
        <div class="inner">
            <header>
                <h1>{{.Title}}</h1>
            </header>
            <section>
                <form action="/result" method="POST">
                    <input type="hidden" name="category_id" value="{{.CategoryID}}">
                    {{range .Questions}}
                    <h3>{{.Question_text}}</h3>
                    {{range $index, $option := .Options}}
                    <input type="radio" id="option_{{.QuestionID}}_{{$index}}"
                           name="answers[{{.QuestionID}}]" value="{{.Name}}">
                    <label for="option_{{.QuestionID}}_{{$index}}">{{.Name}}</label>
                    {{end}}
                    {{end}}
                    <div>
                        <button type="submit">Check Answers</button>
                        <a style="margin-left: 20px" href="/">Back to Categories</a>
                    </div>
                </form>
            </section>
        </div>
    </div>

</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>